// .arrow-left {
//   border-radius: 2px 0px 0px 2px;
// }

// .page li {
//   border: 1px solid #198754;
//   color: #198754;


// }

// .page li:hover {
//   color: white;
//   background-color: #198754;
// }

// .arrow-left {
//   border-radius: 0px 2px 2px 0px;
// }
.pagination .page-link {
  color: #198754;
  border: 1px solid #198754;
}

.pagination .page-link:hover {
  color: white;
  background-color: #198754;
}

.pagination .active {
  color: white;
  background-color: #198754;
}