<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <div class="container-fluid p-0">
      <div class="row g-0">
        <nav class="function col-3 d-flex justify-content-between">
          <div class="mt-4 position-relative">
            <div class="mb-5 ps-5">
              <a href=""
                ><img src="./assets/images/logo-ANSWER.svg" alt="logo"
              /></a>
            </div>
            <div class="w-100">
              <div class="btn btn-hover d-flex mb-4 ps-5">
                <span class="material-icons"> poll </span>
                <p class="ms-3 fw-bold m-0">Dashboard</p>
              </div>

              <div class="btn btn-hover d-flex mb-4 ps-5">
                <span class="material-icons"> forum </span>
                <p class="ms-3 fw-bold m-0">Question</p>
              </div>
              <div class="btn btn-hover d-flex mb-4 ps-5">
                <span class="material-icons"> assignment </span>
                <p class="ms-3 fw-bold m-0">Assignment</p>
              </div>
              <div class="btn btn-hover d-flex mb-4 ps-5">
                <span class="material-icons"> video_library </span>
                <p class="ms-3 fw-bold m-0">Course</p>
              </div>
              <div class="btn btn-hover d-flex mb-4 ps-5">
                <span class="material-icons"> people </span>
                <p class="ms-3 fw-bold m-0">Admin</p>
              </div>
              <div class="btn btn-hover d-flex ps-5">
                <span class="material-icons"> settings </span>
                <p class="ms-3 fw-bold m-0">Settings</p>
              </div>
            </div>
            <div class="user-info position-absolute bottom-0">
              <div class="d-flex ps-5">
                <img
                  class="user-img"
                  src="./assets/images/andychen.jpeg"
                  alt="user"
                />
                <div class="ms-3">
                  <p class="m-0 fw-bold">Andy Chen</p>
                  <span class="text-black-50">andy0401@mail.com</span>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <div class="col-9"><%- contents %></div>
      </div>
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
